@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #1B1B1B;
    color: #FFF7E9;
}

h1 {
    text-align: center;
    margin-top: 80px;
    font-size: 36px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

input[type="text"] {
    width: 250px;
    margin: 10px 0;
    padding: 10px;
    border: 2px solid #5DADE2;
    border-radius: 5px;
    color: #2C3E50;
}

button {
    width: 200px;
    padding: 10px;
    background-color: #27AE60;
    border: none;
    color: #FFF;
    cursor: pointer;
}

button:hover {
    background-color: #2ECC71;
}
